#page-header h1.h2,
#page-header h2.h2,
h1, h2, h3, h4 {
    color: #7a5a75;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
    font-weight: 600;
}

h2 {
    color: #4B7E8A;
}

h3, h3 a {
    color: #003a70;
}

.activity-wrapper .text-uppercase.small {
    display: none;
}

.activity-wrapper .activityname {
    font-size: 1.1rem;
}

.page-header-image.mr-2 {
    display: none;
}

.pagelayout-incourse #region-main h2 {
    display: none;
}

.completion-info {
    display: none;
}